# SQLite 3 101
SQL Lite comes built in with python

<img src='https://i.pinimg.com/originals/b0/87/53/b08753d58f327fe00490bb5cfa7fcf03.gif' width=200>

## Why Use a Cursor?
1. Row-by-Row Processing: Cursors allow you to fetch and process individual rows from a query result. This can be useful when you need to perform operations on each row, such as calculations or updates, which cannot be efficiently done using set-based operations.  

2. Complex Data Manipulation: When performing complex operations that require multiple steps or conditional logic based on the data in each row, cursors provide a way to handle this within the database.  

3. Interfacing with Procedural Code: Cursors are often used in procedural database code (such as stored procedures or triggers) where you need to loop through a result set and perform specific actions for each row.

In [22]:
# Import Sql lite library, which is already built into python
import sqlite3
# Import pandas just to visualize table differently. (Not needed)
import pandas as pd

In [23]:
# Create a name or use an existing DB name
DATABASE = 'sqlite_test_database.db'

In [24]:
# Connect to your Database or create one if it does not exist.
conn = sqlite3.connect(DATABASE)

In [25]:
# Create a cursor object, this will allow you to make SQL commands
cursor = conn.cursor()

In [26]:
# Create a table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY
    ,name TEXT
    ,age INTEGER         
    )
''')

In [27]:
cursor.execute('''
INSERT INTO users (name, age) 
VALUES
    ('moy',13)
    ,('steph', 10)
''')

In [28]:
# Commit changes, if you do not do this, any changes will not be saved when you close the connection.
conn.commit()

In [29]:
# Executing the query stores the output into memory
cursor.execute('SELECT * FROM users')

In [30]:
# Grab the query and print using fetchall. Each row will be shown as a tuple within a list.
cursor.execute('SELECT * FROM users').fetchall()

[(1, 'moy', 13), (2, 'steph', 10)]

In [31]:
# Assign all rows to a variable
rows = cursor.execute('SELECT * FROM users').fetchall()

In [32]:
# Print out each row
for row in rows:
    print(row)

(1, 'moy', 13)
(2, 'steph', 10)

In [33]:
# Get a list of all tables
cursor.execute('''SELECT * FROM sqlite_master''').fetchall()

[('table',
  'users',
  'users',
  2,
  'CREATE TABLE users (\n    id INTEGER PRIMARY KEY\n    ,name TEXT\n    ,age INTEGER         \n    )')]

In [34]:
# Get column header information
[x[0] for x in cursor.description]

['type', 'name', 'tbl_name', 'rootpage', 'sql']

In [35]:
# Creat pandas dataframe to see sqlite master schema information
data = cursor.execute('''SELECT * FROM sqlite_master''').fetchall()
columns = [x[0] for x in cursor.description]
pd.DataFrame(data=data, columns=columns)

,type,name,tbl_name,rootpage,sql
0,table,users,users,2,CREATE TABLE users (\n id INTEGER PRIMARY K...

In [36]:
# Query Users Table
cursor.execute('''SELECT * FROM users''').fetchall()

[(1, 'moy', 13), (2, 'steph', 10)]

In [37]:
# Get user table information
# Notice how cursor variable data changes to your last query.
[x[0] for x in cursor.description]

['id', 'name', 'age']

In [38]:
# Update the table and modify a user
cursor.execute('''
    UPDATE users
    SET age = 65
    WHERE name = 'moy'
''')

In [39]:
# Check results
user_data = cursor.execute('SELECT * FROM users').fetchall()
user_header = [description[0] for description in cursor.description]
df = pd.DataFrame(data=user_data, columns=user_header)
df

   id   name  age
0   1    moy   65
1   2  steph   10

In [40]:
# Drop the table
cursor.execute('DROP TABLE users')

In [41]:
# Commit changes to ensure they are made.
conn.commit()

In [42]:
conn.close()

# A better strategy
Use a with statement to close the connection

In [43]:
with sqlite3.connect(DATABASE) as conn:
    # Create cursor instance
    cursor = conn.cursor()

    # Create a table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY
        ,name TEXT
        ,age INTEGER         
        )
    ''')

    # Insert values into table
    cursor.execute('''
        INSERT INTO users (name, age) 
        VALUES
            ('moy',13)
            ,('steph', 10)
    ''')

    # Print all users
    print(cursor.execute('SELECT * FROM users').fetchall())

    # Drop the table
    cursor.execute('DROP TABLE users')

    # Commit changes to ensure they are made.
    conn.commit()

[(1, 'moy', 13), (2, 'steph', 10)]